body {
  background-color: white;
  width: auto;
  font-family: "Times New Roman", Georgia, serif;
  
}

#personal-info, #profile, #experience, #skills {
  background-color: rgb(227, 240, 255);
  border: 2px double rgb(43, 81, 127);
  padding: 25px;
  margin:10px;
  width: 85%;
  align-content: center;
}

#profile {
}

#experience {
}

#skills {
}

#j1, #j3 {
  align-content: center;
  padding: 4px;
  margin: 2px;
}

#j2, #j3 {
  align-content: center;
  border-top: (2px solid black);
  background-color: rgb(87, 162, 255);
}
  

.name {
  text-align: center;
  font-color: DimGray;
  font-size: 48px;
  padding: 10px;
  
}

.address {
  text-align: center;
  font-color: DimGray;
  font-size: 20px;
  padding: 5px;
}

.category {
  text-align: center;
  font-color: DimGray;
  font-size: 32px;
  padding: 10px
}

.title {
  text-align: center;
  font-color: DimGray;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.employerinfo {
  font-size: 26px;
  text-align: center;
}

.list {
  text-align: left;
  font-size: 22px;
}
