body {
  background: black url("24703.jpg") no-repeat center top;
  background-attachment: fixed;
  z-index: -1;
  width: auto;
  font-family: serif;
  
}

#header {
  width: 100%;
  height: 200px;
  position: fixed;
  background: #ffffff url("24703.jpg") no-repeat center top;
  top: 0px;
}

#personal-info {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  margin: auto;
  Padding: 10px 4px;
  
}

#container {
  margin: auto;
  max-width: 600px;
  border: 2px double white;
  background-color
}

#line-separator {
  height: 1px;
  background: rgb(43, 81, 127);
  border-bottom: 1px solid DimGray;
}

#profile, #experience, #skills {
  background-color: rgb(227, 240, 255);
  border: 2px double rgb(43, 81, 127);
  border-radius: 4px;
  padding: 25px;
  margin: auto;
  width: 85%;
}

#j1, #j3 {
  align-content: center;
  padding: 4px;
  margin: 2px;
}

#j2, #j4 {
  align-content: center;
  border: 2px solid black;
  background-color: rgb(87, 162, 255);
}
  

.name {
  text-align: center;
  color: DimGray;
  font-size: 36px;
  padding: 3px;
  
}

.address {
  text-align: center;
  color: DimGray;
  font-size: 18px;
  padding: 2px;
}

}
.category {
  text-align: center;
  color: DimGray;
  font-size: 32px;
  padding: 10px
}

.title {
  text-align: center;
  color: DimGray;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.employerinfo {
  font-size: 26px;
  text-align: center;
}

.list {
  text-align: left;
  font-size: 22px;
}

.description {
  font-size: 18px;
}
